/*
*
*
*General
*
*/

/* css reset */
*{
	/*removes default padding and margins*/
	margin: 0;
	padding: 0; 
	box-sizing: border-box; /* to avoid overflow */
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	width: 700px;
	margin: 0 auto;
	background-color: lightgrey;
}

header	{
	background-color: #0099cc;
	height: 70px;
	line-height: 70px;
	color: white;
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
}

footer	{
	background-color: #a6a6a6;
	height: 70px;
	line-height: 70px;
	color: white;
	text-align: center;
	font-size: 13px;
}

form{
	text-align: right;
	padding: 10px 20px 20px;
}

main{
	padding: 20px 10px 20px;
}

h3{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

/*
*
* Dashboard
*
*/

#postCircle,
#imageCircle{
	height: 70px;
	width: 70px;
	background-color: red;
	border-radius: 50%;
	color: white;
	text-align: center;
	line-height: 82px;
	float: left;
}

#postCircle{
	background-color: #4caf50;
}
#imageCircle{
	background-color: #0099cc;
}

.inline-blocked{
	display: inline-block;
	text-align: center;
	margin-left: 20px;
	font-size: 20px;
	font-weight: bold;
}

.dashColumns {
	width: 30%;
	height: 100px;
	display: inline-block;
}

/*
*
*
* Buttons
*
*/

.btn{
	border: none;
	padding: 15px 30px; /* 15px = top,bottom and 30px = left, right*/
	font-size: 14px;
	border-radius: 8px; /*remove edges*/
	color: white; 
}

.btn-blue{
	background-color: #0099cc;
	border-radius: 8px; /*remove edges*/
}

.btn-green{
	background-color: #4caf50;
	border-radius: 8px; /*remove edges*/
}

/*
*
*
* Images
*
*/

.img-set-holder{
	text-align: center;
}

.img-set{
	height: 100px; /* define to maintain aspect ratio of image*/
	/*width: 100px;*/
	padding: 5px;
	background-color: #fff;
	border-radius: 3px;
	margin: 0 5px;
}

/*
*
* Posts
*
*/

#postTitle,
#postContent{
	width: 100%;
	border-radius: 3px;
	padding: 10px
}
#postTitle{
	margin-bottom: 5px;
}

#postContent{
	height: 100px;
	margin-bottom: 10px;
}





